::ng-deep a:-webkit-any-link {
    color: #54B689 !important; /* Your custom color */
    cursor: pointer !important;
    text-decoration: none !important; /* Remove underline */
}


.widthw {
    background-color: white;
    width: 79.5vw;
    max-width: 80vw;
    height: 100vh;
    margin-left: 19vw;
    margin-top: -1.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widthcard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upper-card {
    background-color: rgba(0, 0, 0, 0.01);
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    border-radius: 50%; /* Optional: Make the image circular */
    padding: 5%;
}

.lower-card {
    background-color: white;
    height: 55vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4f4f4f;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div {
    display: block;
}

.main-wrapper {
    margin-left: 19vw;
    background: #fff;
}





section {
    display: block;
}

.theme-bg-light {
    background: #fafafa !important;
}

.row {
    height:auto;
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping */
    justify-content: space-evenly;
}

.experience-row {
    height:auto;
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping */
    justify-content:flex-start;
}


.col {
    flex: 1; /* Allows the columns to take equal width */
}

.profile-teaser .name {
    font-size: 2.5rem;
    /* margin-bottom: 0.5rem; Adjusted for better spacing */
}

.mb-1 {
    margin-bottom: .25rem !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #292929;
    font-weight: bold;
}

.profile-teaser .tagline {
    font-size: 1.2rem;
    font-weight: 300;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
    text-align: justify !important;
}

.profile-teaser .bio {
    font-size: 1rem;
    line-height: 1.6;
}

.profile-teaser .profile-image {
    max-width: 300px;
    width: 300px;
    margin-left: 100px;
    /* background-color: aqua; */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.p-3 {
    padding: 1rem !important;
}

a.text-link {
    text-decoration: none;
}

a {
    color: #54B689;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}



.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5); */
    padding-left: 2%;
    /* margin-right: auto;
    margin-left: auto; */
}

h2, .h2 {
    font-size: calc(1.325rem + .9vw);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 2%;
    text-align: justify;
}


.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #54B689;
    position: absolute;
    left: 0;
    top: 0;
}

.mb-5 {
    margin-bottom: 0rem !important;
}

.section-intro {
    padding: 2%;
}

/* Icon CSS */
.item {
    display: inline-block;
    width: 33.33%;
    height: auto;
    justify-items: flex-start;
    padding: 2%;
}

.item-icon {
    font-size: 36px;
}

.tech-icon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
}

.item-description {
    text-align: justify;
}

.company-logo {
    display: inline-block;
    justify-items: flex-start;
    padding-left: 2%;
    align-content: center;
}

.company-logo-styl {
    width: 60px;
}

.company-title {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    padding-left: 10px;
}

.job-title {
    font-size: 16px;
    font-weight: bold;
    color: #6c757d;
    padding-left: 10px;
}

.job-duration {
    font-size: 16px;
    font-weight: bold;
    color: #6c757d;
    display: inline;
}

.job-description{
    text-align: justify;
    display: block;
    padding-left: 2%;
    padding-top: 5px;
}

@media (min-width: 576px){
    .container-sm, .container {
        max-width: 540px;
    }
}


@media (min-width: 768px){
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .me-md-0 {
        margin-right: 0 !important;
    }

    .container-md, .container-sm, .container {
        max-width: 720px;
    }


}

@media (min-width: 965px){
    .p-lg-5 {
        padding: 1rem 3rem !important;
    }
}

@media (min-width: 992px){
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .p-lg-5 {
        padding: 1rem 3rem !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }

    h2, .h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}

.custom-btn {
    background-color: #007bff; /* Set your desired background color */
    border: none;
    border-radius: 8px; /* Adjust border radius */
    padding: 10px 15px; /* Adjust padding */
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #0056b3; /* Darken background on hover */
  }

  .resume-btn {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }

  .nav-item {
    list-style: none;
  }

  .nav-label {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
  }











