.main-wrapper {
    margin-left: 19vw;
    background: #fff;
    color: #4F4F4F;
}

.header-section {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    align-items: center;
    padding: 4vh 0vw;
}

.contact-header {
    width: 50%;
}

.contact-h1{
    justify-items   : center;
    color: black;
}

.icon-link {
    text-decoration: none; /* Remove underline */
    color: #4F4F4F !important;
  }
  
  /* Hover effect */
.icon-link:hover {
  color: #15704c !important; /* Change text and icon color (e.g., blue) */
}

.contact-q1 {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 2vh;
}

.social-icon {
    display: flex;
    justify-content: center;
    padding: 1vh 0;
}

.icon1 {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    display: inline-block;
}

.contact-info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0vw;
}

.contact-info {
    width: 70%;
}

.col-md-6{
    display: inline-block;
    width: 45%;
    margin: 0 1vw;
}

.col-md-12 {
    justify-items: center;
}

.custom-input {
    width: 100%;          /* Makes the input fill the parent div */
    height: 32px;         /* Adjust height as needed */
    border-radius: 8px;   /* Adds rounded corners */
    border: 1px solid #ccc; /* Adds a border with light gray color */
    padding: 10px;        /* Adds inner padding for better text visibility */
    font-size: 16px;      /* Adjusts font size for better readability */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  .custom-input:focus {
    outline: none;        /* Removes default outline on focus */
    border-color: #007bff; /* Highlights border when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds subtle shadow on focus */
  }

  .custom-title {
    margin: 3vh 0;
  }
  